@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#0f1523];
    @apply text-slate-300;
  }
}

@layer utilities {
  .custom-scrollbar {
    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: #1e293b;
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #334155;
    }
  }
}
